.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    
    border-radius: 15px;
    text-align: left;
    padding: 15px;
    
    background-color: white;
    font-size: small;
}
button{
    width: 100%;
    padding-bottom: 10px;
}
img{
    width: 320px;
    border-radius: 10px;
}
.main{
    display: flex;
    gap: 10;
    background-color: wh;
}
.display {
    background-color: #ccc; /* Change the background color */
    color: #888; /* Change the text color */
    cursor: not-allowed; /* Change the cursor style */
    /* Add any other styles you want to apply to disabled buttons */
  }